/.svn
CMakeLists.txt.user*
/release
/build
/build_*
/build-*
/*_build_*
/bin
/freetype
/GL
/debug
/coord_syst
/.qtc_clangd
/*.user
/ui_*
/users*
/Makefile*
/.clang-format
/.editorconfig
/.qmake.stash
/icons
*.pro.user
/Altium design/History
/Altium design/_Previews
debug.log